In [1]:
import duckdb

con = duckdb.connect()
con.execute("SELECT 'Hello from DuckDB'").fetchall()

[('Hello from DuckDB',)]

In [3]:
con.execute("""
INSTALL httpfs;
LOAD httpfs;
""")

In [5]:
con.execute("""
SET s3_region='us-east-1';
SET s3_use_ssl=true;
SET s3_url_style='path';
SET s3_access_key_id='';
SET s3_secret_access_key='';
""")

In [7]:
query = """
SELECT *
FROM read_parquet(
  's3://jax-envision-public-data/study_1001/2025v3.3/tabular/*/*/animal_activity_db.parquet',
  hive_partitioning = true
)
"""

In [9]:
df_preview = con.execute(query + " LIMIT 10").df()
df_preview

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,predicted_identity,time,resolution,name,value,units,version_str,organization_id,cage_id,study_id,device_id,run_id,animal_id,ULID,__index_level_0__,filename,source_file,date
0,blackallwhite,2025-01-07 23:00:00,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZDBR0RFF62JVQ56S8FMQ3,0,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
1,blackallwhite,2025-01-07 23:00:01,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZDNGGXJ788ER4891Q7W21,1,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
2,blackallwhite,2025-01-07 23:00:02,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZDZ90F1WZ4ZMJ3DXDGD8F,2,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
3,blackallwhite,2025-01-07 23:00:03,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZE91G1AZ7M6E0K54QF913,3,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
4,blackallwhite,2025-01-07 23:00:04,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZEJT06RN7V99CPZ0EPMG6,4,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
5,blackallwhite,2025-01-07 23:00:05,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZEWJGMVC5T518FAC954ZE,5,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
6,blackallwhite,2025-01-07 23:00:06,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZF6B0PR9XERH1KBSS9REJ,6,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
7,blackallwhite,2025-01-07 23:00:07,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZFG3GV2KDCG7PQJAF29ZB,7,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
8,blackallwhite,2025-01-07 23:00:08,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZFSW0MDCM64Y4W7H69NNF,8,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07
9,blackallwhite,2025-01-07 23:00:09,1,animal_bouts.active,1.0,time_in_seconds,v3.3,8,4917,1001,deepgraph-manager-inject,2025v3.3,9241,0FSAEZG3MGG60AS755YAGX2AFF,9,s3://org-8-uploads-stage/pipeline/study_1001/2...,s3://org-8-uploads-stage/pipeline/study_1001/2...,2025-01-07

In [10]:
con.execute("INSTALL httpfs;")
con.execute("LOAD httpfs;")

con.execute("""
SET s3_region='us-east-1';
SET s3_access_key_id='';
SET s3_secret_access_key='';
""")

In [13]:
con.execute("""
CREATE OR REPLACE TABLE animal_activity AS
SELECT *
FROM read_parquet(
  's3://jax-envision-public-data/study_1001/2025v3.3/tabular/*/*/animal_activity_db.parquet',
  hive_partitioning = true
)
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [ ]:
con.execute("SHOW TABLES").fetchall()

In [ ]:
con.execute("""
SELECT
  COUNT(*) AS n_rows,
  COUNT(DISTINCT cage_id) AS n_cages,
  COUNT(DISTINCT animal_id) AS n_animals
FROM animal_activity
""").df()

In [ ]:
con.execute("""
SELECT *
FROM animal_activity
LIMIT 20
""").df()

In [ ]:
con.execute("""
CREATE OR REPLACE TABLE daily_activity AS
SELECT
  cage_id,
  animal_id,
  date,
  SUM(value) AS active_seconds
FROM animal_activity
WHERE name = 'animal_bouts.active'
GROUP BY cage_id, animal_id, date
""")

In [ ]:
con.execute("""
SELECT COUNT(*) FROM daily_activity
""").df()

In [ ]:
con.execute("""
CREATE OR REPLACE TABLE daily_activity AS
SELECT
  cage_id,
  animal_id,
  date,
  SUM(value) AS active_seconds
FROM animal_activity
WHERE name = 'animal_bouts.active'
GROUP BY cage_id, animal_id, date
""")

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4917
ORDER BY animal_id, date
""").df()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4917: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()

In [ ]:
df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4917: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()

In [ ]:
import seaborn as sns

pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4917: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4918
ORDER BY animal_id, date
""").df()

In [ ]:
plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4918: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()

In [ ]:
df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4918: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()

In [ ]:
pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4918: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4919
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4919: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()

In [ ]:
df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4919: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()

In [ ]:
pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4919: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4920
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4920: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4920: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4920: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4921
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4921: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4921: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4921: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4922
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4922: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4922: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4922: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4923
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))$

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4923: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4923: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4923: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4924
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4924: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4924: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4924: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4925
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4925: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4925: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4925: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4926
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4926: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4926: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4926: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4927
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4927: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4927: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4927: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4928
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4928: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4928: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4928: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4929
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4929: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4929: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4929: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4930
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4930: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4930: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4930: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4931
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4931: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4931: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4931: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4932
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4932: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4932: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4932: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4933
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4933: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4933: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4933: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
df = con.execute("""
SELECT *
FROM daily_activity
WHERE cage_id = 4934
ORDER BY animal_id, date
""").df()

plt.figure(figsize=(12,6))

for animal_id, g in df.groupby("animal_id"):
    plt.plot(g["date"], g["active_seconds"], alpha=0.7)

plt.title("Cage 4934: Daily Activity per Animal")
plt.xlabel("Date")
plt.ylabel("Active seconds")
plt.show()


df_norm = df.copy()
df_norm["z_activity"] = (
    df_norm.groupby("animal_id")["active_seconds"]
    .transform(lambda x: (x - x.mean()) / x.std())
)

plt.figure(figsize=(12,6))
for animal_id, g in df_norm.groupby("animal_id"):
    plt.plot(g["date"], g["z_activity"], alpha=0.7)

plt.title("Cage 4934: Normalized Activity (Z-score)")
plt.ylabel("Z-scored activity")
plt.show()


pivot = df_norm.pivot(
    index="animal_id",
    columns="date",
    values="z_activity"
)

plt.figure(figsize=(14,6))
sns.heatmap(pivot, cmap="coolwarm", center=0)
plt.title("Cage 4934: Activity Alignment Heatmap")
plt.xlabel("Date")
plt.ylabel("Animal ID")
plt.show()

In [ ]:
query = """
SELECT
    timestamp,
    animal_id,
    active_seconds
FROM animal_activity
WHERE cage_id = 4917
  AND animal_id IN (
      SELECT DISTINCT animal_id
      FROM animal_activity
      WHERE cage_id = 4917
      LIMIT 2
  )
  AND timestamp BETWEEN '2025-01-01' AND '2025-01-21'
ORDER BY timestamp
"""
df_raw = con.execute(query).df()